body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
#heading-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(161, 14, 14);
}
#headingdetails-container {
  display: flex;
  align-self: center;
  padding-right: 50px;
}
#image-container {
  position: relative;
  top: 10px;
}
@media screen and (max-width: 2000px) {
  #heading-container {
    height: 400px;
  }
  #image-container {
    display: flex;
    max-width: 500px;
    left: 20px;
  }
  #heading-image {
    width: 100%;
    height: 100%;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
  }
}
@media screen and (max-width: 600px) {
  #heading-container {
    height: 200px;
  }
  #image-container {
    display: flex;
    max-width: 300px;
    left: 0px;
  }
  #heading-image {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  #heading-container {
    height: 150px;
  }
}
@keyframes example1 {
  from {
    background-color: rgb(7, 7, 6);
  }
  to {
    background-color: yellow;
  }
}
@keyframes example {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 131, 0);
  width: 100%;
  height: 300px;
}
.section-desc {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  width: 90px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
}
.title--big-title{
  font-size: 50px;
  font: bold;
  font-family: monospace;
}
